{
  "env": {
    "development": {
      "presets": ['env', 'react', 'stage-0'],
      "plugins": [
        ["syntax-dynamic-import"],
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-async-to-generator"],
        ["babel-plugin-root-import", {"rootPathSuffix": "src" }],
      ]
    },
    "production": {
      "presets": [
        [
          "env", {
              "loose": true,
              "modules": false,
              "targets": {
                "browsers": [
                  ">1%"
                ]
              },
              "useBuiltIns": true
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        ["syntax-dynamic-import"],
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-async-to-generator"],
        ["transform-regenerator"],
        ["babel-plugin-root-import", {"rootPathSuffix": "src" }],
      ]
    },
    "test": {
      "presets": [
        "env",
      "react",
      "stage-1"
      ]
    }
  }
}
