<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <script>
    window.GA = "<%= htmlWebpackPlugin.options.GA %>";
  </script>
  <% if (htmlWebpackPlugin.options.useRootcause) { %>
        <script>
          var refScript = document.getElementsByTagName("script")[0];
          var rcScript  = document.createElement("script");

          rcScript.async       = true;
          rcScript.crossOrigin = "anonymous";
          rcScript.src         = "https://app.therootcause.io/rootcause-full.js";

          rcScript.addEventListener("load", onRCLoaded);
          refScript.parentNode.insertBefore(rcScript, refScript);

          function onRCLoaded() {
            window.logger = window.RC && new RC.Logger({
              onBeforeLog: function(errorInfo) {
                console.info('intercepting an error');
                if (errorInfo.stack && errorInfo.stack.indexOf('widgets.js') !== -1) {
                  console.info('Ignoring a twitter error');
                  return false;
                }
                //and repeat it to ensure that the error is not critical
                setTimeout(function() {
                  errorInfo.msg = errorInfo.msg || '';
                  if (errorInfo.msg.indexOf('1 minute after') !== -1) {
                    return;
                  }
                  errorInfo.msg = errorInfo.msg + ' (1 minute after)';
                  window.logger.logException(errorInfo);
                }, 1000 * 60 );
              },
              applicationId : "1e11efaf5aa4521015eca1c83dd8eee6fedaf7b7",
              recordSessionVideo : true,
              captureScreenshot : true,
              recordUserActions : true,
              logConsoleOutput : false,
              logAjaxRequests : false,
              treatFailedAjaxAsError : true,
              logResourceLoadFailures : true,
              showNotificationOnError : false,
              showFeedbackButton : false,
              showErrorDialog : false,
              maxNbrOfReportedErrors : 5,
              version : "<%= require('child_process').execSync('git rev-parse HEAD').toString().trim() %>", // TODO,
              frameworkVersion : "" // TODO
            });
          }
        </script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="CNCF Cloud Native Interactive Landscape" />
  <meta property="og:url" content="https://landscape.cncf.io/" />
  <meta property="og:site_name" content="CNCF Cloud Native Interactive Landscape" />
  <meta property="fb:admins" content="alex.contini.94" />
  <meta property="og:image" content="https://landscape.cncf.io/favicon.png" />
  <meta property="og:image:secure_url" content="https://landscape.cncf.io/favicon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="CNCF Cloud Native Interactive Landscape" />
  <meta name="twitter:description" content="Details on hundreds of projects and products." />
  <meta name="twitter:site" content="@CloudNativeFdn" />
  <meta name="twitter:image" content="https://landscape.cncf.io/favicon.png" />
  <meta name="twitter:creator" content="@CloudNativeFdn" />
  <title>CNCF Interactive Cloud Native Landscape</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
